﻿@page
@model IndexModel
@{
    ViewData["Title"] = "StruSoft Docker Compose Demo";
}

<div class="text-center">
    <h1>StruSoft API Version: <span class="text-primary">@Model.ApiVersion</span></h1>
</div>

<table class="table table-striped table-dark table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp (C)</th>
            <th>Summary</th>
            <th>API Version</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wf in Model.WeatherForecast)
        {
            <tr>
                <td>
                    @wf.Date.ToShortDateString()
                </td>
                <td>
                    @wf.TemperatureC.ToString()
                </td>
                <td>
                    @wf.Summary
                </td>
                <td>
                    @wf.ApiVersion
                </td>
            </tr>
        }
    </tbody>
</table>
